/* Write your CSS here */

.appointment-items {
  list-style-type: none;
  border: 1px solid #b5b7c4;
  border-radius: 12px;
  padding: 16px;
  margin-bottom: 16px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}
.title {
  color: #171f46;
  font-family: 'roboto';
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}
.star-button {
  background-color: transparent;
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
}
.star {
  width: 20px;
  height: 20px;
  background: transparent;
  align-self: center;
  border: none;
  outline: none;
}
.date {
  color: #fbc7d4;
  font-family: 'roboto';
  font-size: 14px;
  margin: 0px;
}
